/*
   * Custom translucent site header
   */

.site-header {
    background: #ffffff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
    height: 65px;
}
.site-header a {
    color: #3c5a6d;
    transition: ease-in-out color 0.15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.logo {
    height: 30px;
    width: auto;
}
/*----------------------*/
/* Header
/*----------------------*/
.jumbotron {
    background-image: linear-gradient(
            180deg,
            #102533 0%,
            rgba(9, 42, 64, 0) 100%
        ),
        url(../js/components/images/main-slider.png);
    background-size: cover;
    background-position: center;
    height: 609px;
    padding: 31px 2rem;
    margin-top: 55px;
}
.jumbotron-header {
    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 34px !important;
    /* line-height: 74px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #ffffff !important;
}

h2 h1 h3 h4 {
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
}
h1 {
    font-size: 36px;
}

h2 {
    color: #fff;
    /* text-align: center; */
    font-size: 150%;
    font-weight: 300;
}
h3 {
    font-size: 200%;
    font-weight: 700;
    color: #323f47;
}
h4 {
    color: #3a3a3a;
    font-weight: 500;
    font-size: 130%;
    /* display: flex;
align-items: flex-end; */
}
p {
    font-size: 100%;
    font-weight: 100;
    color: #6d6d6d;
}

.long-copy {
    color: #686868;
    font-size: 100%;
    font-weight: 500;
    line-height: 145%;
    /* width: 70%; */
    /* margin-bottom: 30px; */
}
.card {
    margin-left: 13% !important;
    /* margin-right: 13% !important;  */
    background-color: #fff;
    height: 36%;
    /* top: 30%; */
    width: 37%;
    border-radius: 15px;
    float: left;
}
.card-header {
    border-bottom: 2px solid #0071bc;
    background-color: #fff !important;
}
.card-header-pills {
    display: flex;
    justify-content: space-evenly;
}
.card-body {
    padding: 12px !important;
}
.card-title {
    font-size: 15px !important;
    text-align: center;
    margin-bottom: 3px;
}
.card-text {
    font-size: 12px !important;
    text-align: center;
}
.btn:link,
.btn:visited {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 15px;
    font-size: 14px !important;
    font-weight: 300;
    text-decoration: none;
    transition: backround-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3a4a4e;
    border: 1px solid #3a4a4e;
    color: #fff;
    /* margin-right: 30px; */
    border-radius: 200px;
}
.btn-ghost:link,
.btn-ghost:visited {
    /*    border: 1px solid #3A4A4E;*/
    color: #3a4a4e;
    width: 167px;
}

.btn:hover,
.btn:active {
    /* background-color: #242e31; */
}

.btn-full:hover,
.btn-full:active {
    /* border: 1px solid #242e31; */
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #242e31;
    color: #fff;
    border-radius: 200px;
    width: 167px;
}

/* Style inputs */
input,
select {
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid #d7e2e4;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

input:focus,
select:focus {
    border: 1px solid #0082c5;
    outline: none;
}

/* input[type="text"],
.input {
    width: 100%;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    background-color: #f0f0f0;
}
input[type="text"]:focus,
.input:focus {
    background-color: #f0f0f0 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
} */
.custom-select {
    width: 100%;
    /* padding: 15px 20px; */
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    background-color: #f0f0f0;
}
.custom-select:focus {
    background-color: #f0f0f0 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.label {
    color: #898989;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    width: 103px;
}

/* Style the submit button */
input[type="submit"] {
    width: 100%;
    background-color: #0071bc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 13px;
}

.slider-image {
    /* height: 100%;
    float: left; */
}
.header_image {
    width: 100%;
    height: 100%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    float: right;
}

.step-box {
    top: 20%;
    /* margin-top: 30px; */
    text-align: justify;
    background: #ffffff;
    /* border: 1px solid #93AEC0; */
    box-sizing: border-box;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.102355);

    display: flex;
    align-items: center;
}
.step-header h3 {
    color: #308ecd;
    font-size: 100%;
    font-weight: 400;
}
.overley-image {
    background-color: #3a4a4e;
    border: 2px solid #3a4a4e;
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    /* margin-top: 10px; */
    float: left;
    margin-right: 15px;
}
.overley-header {
    font-size: 15px;
    color: #308ecd;
}
.overley-paragraph {
    font-size: 14px !important;
    color: #757575;
    margin: 0 !important;
    line-height: 18px;
}
.step-check {
    display: flex;
    align-items: center;
}

/* Add a background color to the submit button on mouse-over */
input[type="submit"]:hover {
    background-color: #002a45;
}
.section-professionals {
    width: 100%;
    max-width: 1035px;
    margin: 0 auto;
    padding-top: 50px;
}
.professional {
    margin-bottom: 22px;
}
.professional-header {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    /* line-height: 54px; */
    color: #323f47;
}
.professional-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 29px; */
    color: #6d6d6d;
}

.round-logo {
    position: absolute;
    top: 31%;
    left: 66.5%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.professional-card-title {
    font-size: 18px;
    color: #686868;
}
.professional-card-paragragh {
    font-size: 15px;
    color: #686868;
}
.signup-link {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 100%;
    text-decoration-line: underline;
    color: #439cd7;
}
.why-box {
    margin-bottom: 1%;
    padding: 0px;
}
.professionalwork {
    height: 100px;
    width: 30%;
    float: left;
    /*    padding-right: 20px;*/
    /* padding-top: 15px; */
}

.section-why {
    width: 100%;
    max-width: 1035px;
    margin: 0 auto;
}
.other-text {
    /*    background-color: aqua;*/
    padding-left: 10px;
    width: 65%;
    float: left;
}

.section-category {
    width: 100%;
    max-width: 1035px;
    margin: 0 auto;
}
#customer-support {
    background: linear-gradient(188.37deg, #0071bc -12.44%, #12517a 108.27%);
    border-radius: 5px;
}

.slider-category {
    margin-top: 80px;
}
.slider-icon {
    position: absolute;
    top: -26%;
    margin-left: -30%;
    margin-right: 0 !important;
    margin-left: -100px !important;
    width: 100%;
    max-width: 1035px;
    left: 10%;
}
.single-slider-icon {
    height: 80px;
}
.image_slider {
    width: 100%;
    height: 400px;
}
.carousel-inner {
    height: 413.03px;
}
.slider-image {
    width: 308px;
    height: 374px;
    margin-top: 45px;
    margin-left: 140px;
}

.slider-text {
    margin-left: 543px;
    text-align: justify;
    margin-bottom: -12px;
}
.slider-text h1 {
    font-weight: 600 !important;
    font-size: 33px !important;
    line-height: 30px !important;
    color: #323f47 !important;
}
.slider-text h2 {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    padding-bottom: 15px;

    color: #233438;
}
.slider-text p {
    font-family: Proxima Nova;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 19px !important;

    color: #666666;
}
.slider-text a {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    padding-bottom: 20px;

    /* identical to box height */
    text-decoration-line: underline !important;

    color: #0073ba !important;
}
.slider-text div i {
    /* line-height: 19px !important; */
    padding-top: 25px;
    color: #000000;
}
.fa-money {
    margin-right: 25px;
}
.carousal-control {
    /* color:#455053 !important; */
    /* background: #F3E5BD !important; */
    /* border: 2px solid #718388 !important; */
    /* box-sizing: border-box; */
    /* display: inline-block !important; */
}
.section-book {
    width: 100%;
    max-width: 1035px;
    margin: 0 auto;
}
.book-box {
    margin-top: 30px;
}
.book-box:first-child {
    padding-right: 3%;
}
.book-box:last-child {
    text-align: left;
    margin-top: 30px;
    padding-left: 3%;
}
.app-screen {
    width: 60%;
}
.btn-app img {
    margin-top: 10%;
    height: 50px;
}

/*----------------------*/
/* Footer
/*----------------------*/
.footer-layer {
    margin: 20px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #818a91;
    border-bottom: 1px solid #818a91;
}
.help-center {
    font-weight: 400;
    font-size: 13px;
    line-height: 29px;

    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;

    color: #ffffff;
}
.footer-title {
    padding-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;

    /* identical to box height */
    display: flex;
    align-items: flex-end;

    color: #ffffff;
}
.footer-paragraph {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}
.social-group {
    margin-right: 700px;
}
.social-icon {
    width: 200px;
    padding-top: 10px;
}
.social-icon i {
    color: #fff;
    padding-left: 18px;
}
.copyright-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;

    /* identical to box height */
    display: flex;
    align-items: flex-end;

    color: #d9e4ec;
}
.flag {
    width: 120%;
    background: #33444f;
    border: 1px solid #818a90;
    box-sizing: border-box;
    border-radius: 6px;
    float: right;
}
.flag img {
    height: 20%;
    width: 20%;
}
.contact-app {
    float: right;
}
.last-footer {
    padding-top: 10px;
}
.last-footer img {
    float: left;
}
.footer-body {
    background: #24333d;
    padding: 30px 0;
}

/*----------------------*/
/* Contact PAGE
/*----------------------*/
.contact {
    background-image: linear-gradient(
            180deg,
            #102533 0%,
            rgba(9, 42, 64, 0) 100%
        ),
        url(../js/components/images/about-us-background.jpg);
    height: 100%;
}
/*----------------------*/
/* SIGNUP PAGE
/*----------------------*/
.section-signup {
    background: linear-gradient(125.42deg, #4da4de 0%, #025388 100%);
}
.signup-logo {
    height: 15%;
    width: 12%;
    margin-top: 8%;
    margin-left: 50%;
}
.signup-box {
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}
.signup-box div {
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.signup-text {
    text-align: center;
}
.social-btn-box {
    text-align: center;
}
.btn-google {
    width: 40%;
    height: 45px;
    background: #f6f7fb;
    border: 1px solid #eaeaed;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    line-height: 45px;
    padding: 0 !important;
}
.googleicon {
    padding-right: 10px;
    height: 20px;
}
.facebookicon {
    color: #fff;
    padding-right: 15px;
}
.facebookicon-text {
    color: #fff;
}

.btn-facebook {
    width: 40%;
    height: 45px;
    background: #415a94;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 !important;
}

/*
   * Extra utilities
   */

.flex-equal {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
