
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
    height: 65px;
  }
  .site-header a {
    color: #3C5A6D;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

 .logo{
    height: 30px;
    width: auto;
 }
 /*----------------------*/
/* Header
/*----------------------*/
 .jumbotron{
    background-image: linear-gradient(180deg, #102533 0%, rgba(9, 42, 64, 0) 100%), url(../js/components/images/main-slider.png);
    background-size: cover;
    background-position: center;
    height: 609px;
    padding: 31px 2rem;
    margin-top: 55px;
 }
 .jumbotron-header{
    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    /* line-height: 74px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
 }
 
 h2 h1 h3 h4 {
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;

 }
 
  h2{
    color: #fff;
    /* text-align: center; */
    font-size: 150%;
    font-weight: 300;
 }
 h3{
    font-size: 200%;
      font-weight: 700;
      color: #323F47;

 }
 h4{
    color: #3A3A3A;
    font-weight: 500;
    font-size: 130%;
    /* display: flex;
align-items: flex-end; */
  }
  p{
    font-size: 100%;
    font-weight: 100;
      color: #6D6D6D; 
  }

 .long-copy{
    color: #686868;
     font-size: 100%;
     font-weight: 500;
    line-height: 145%;
    /* width: 70%; */
    /* margin-bottom: 30px; */
}
.card{
    /* margin-left: 15%;*/
    margin-right: 10%; 
    background-color: #fff;
    height: 36%;
    /* top: 30%; */
    width: 37%;
    border-radius: 15px;
    float: left;
}
.card-header{
 border-bottom: 2px solid #0071BC;
 background-color: #fff !important;
}
.card-header-pills{
    display: flex;
    justify-content: space-evenly;

}
.card-body{
    padding: 12px !important;
}
.card-title{
    font-size: 15px !important;
    text-align: center;
    margin-bottom: 3px;
}
.card-text{
    font-size: 12px !important;
    text-align: center;
}
.btn:link,
.btn:visited {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 15px;
    font-size: 14px !important;
    font-weight: 300;
    text-decoration: none;
    transition: backround-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #3A4A4E;
    border: 1px solid #3A4A4E;
    color: #fff;
    /* margin-right: 30px; */
    border-radius: 200px;
}
.btn-ghost:link, 
.btn-ghost:visited{
/*    border: 1px solid #3A4A4E;*/
    color: #3A4A4E; 
    width: 167px;   
}

.btn:hover,
.btn:active{
    background-color: #242e31;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #242e31;
}
.btn-ghost:hover, 
.btn-ghost:active{
    border: 1px solid #242e31;
    color: #fff;   
    border-radius: 200px;
    width: 167px;

}


/* Style inputs */
  input[type=text], .input {
    width: 100%;
    /* padding: 15px 20px; */
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    background-color: #f0f0f0;
}
input[type=text]:focus, .input:focus{
    background-color: #f0f0f0 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.custom-select{
    width: 100%;
    /* padding: 15px 20px; */
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    box-sizing: border-box;
    height: 45px;
    background-color: #f0f0f0;
}
.custom-select:focus{
    background-color: #f0f0f0 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

}
.label{
color: #898989;
text-transform: uppercase;
font-size: 10px;
font-weight: 600;
width: 103px;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #0071BC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 13px;
    

}

.slider-image{
    /* height: 100%;
    float: left; */
} 
.header_image{
    width: 100%;
    height: 100%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    float: right;
}
.step-header{
    /* top: -90%; */
}

.step-box{
    top: 20%;
    /* margin-top: 30px; */
    text-align: justify;
    background: #FFFFFF;
/* border: 1px solid #93AEC0; */
box-sizing: border-box;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.102355);
border-radius: 5px;
border-right: 2px solid #3A4A4E;


}
.step-header h3{
    color: #308ECD;
    font-size: 100%;
    font-weight: 400;
}
.overley-image{
   background-color: #3A4A4E;
    border: 2px solid #3A4A4E;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
}


/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #002a45;
}



.professional-box{
    padding: 1%;
}
.professional-box .card{
    width: 311px;
height: 453px;
    background: #FEFFFF;
border: 0.5px solid #F2F8FC;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.102355);
border-radius: 5px;
}
.round-logo{
    position: absolute;
    top: 28%;
    left: 78.5%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  }
  .signup-link{
      margin-bottom: 20px;
      font-weight: 500;
    font-size: 100%;   
      text-decoration-line: underline;
     color: #439CD7;
  }
  .why-box{
    margin-bottom: 1%;
}
.professionalwork{
    height: 100px;
    width: 30%;
    float: left;
/*    padding-right: 20px;*/
    /* padding-top: 15px; */
}
.other-text{
/*    background-color: aqua;*/
    padding-left: 10px;
    width: 65%;
    float: left;
}
.other-text h3{
/* font-weight: 150;*/
    color: #000000;
    margin-bottom: 0px;
    
}
.other-text p{
    font-size: 90%;
    text-align: justify;
    padding-top: 1px;
    color: #666666;
    
}
#customer-support{
background: linear-gradient(188.37deg, #0071BC -12.44%, #12517A 108.27%);
border-radius: 5px;
}

.slider-category{
    margin-top: 80px;
}
.slider-icon{
    position: absolute;
    top: -26%;
    /* float: left; */
    
    margin-left: -30%;
   
    /* width : 100%; */
}
.single-slider-icon{
    height: 80px;
}
.image_slider{
    width: 100%;
    height: 400px;

}

.book-box{
    margin-top: 30px;
}
.book-box:first-child{
 padding-right: 3%;
}
.book-box:last-child{
    text-align: left;
    margin-top: 30px;
    padding-left: 3%;
}
.app-screen{
    width: 60%;
}
.btn-app img{
    margin-top: 20%;
    height: 50px;
}
  
/*----------------------*/
/* Footer
/*----------------------*/
.footer-layer{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #818A91;
    border-bottom: 1px solid #818A91;
}
.footer-layer h5{
    padding-top: 10px;
}
.social-group{
    margin-right: 700px;
}
.social-icon{
    padding-top: 10px;
   
}
.flag{
    width: 120%;
    background: #33444F;
    border: 1px solid #818A90;
    box-sizing: border-box;
    border-radius: 6px;
    float: right;
}
.flag img{
    height: 20%;
    width: 20%;
   
}
.contact-app{
    float: right;
}
.last-footer{
    padding-top: 10px;
}
.last-footer img{
    float: left
}
.footer-body{
    background: #24333D;
}

/*----------------------*/
/* ABOUT US PAGE
/*----------------------*/
.about{
    background-image: linear-gradient(180deg, #102533 0%, rgba(9, 42, 64, 0) 100%), url(../js/components/images/about-us-background.jpg);
    height: 100%;
}
.about-image{
    height: 80%;
    margin-left: 60px;
    margin-top: 40px;

}
.mission-image{
    height: 63%;
    margin-right: 20px;
    float:left;
}
.gallery-image1{
    width: 50%;
    height: 81%;
    display: inline-block;
    float: left;
}
.gallery-image2{
    height: 10%;
    display: inline-block;
    width: 30%;
}
.gallery-image3{
    height: 20%;
    display: inline-block;
    width: 30%;
}
.team-card{
    background: #FFFFFF;
border: 1px solid #D9E4EC;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
border-radius: 10px;
}
.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
    border-radius: 50%;
    /* height: 30%;
    width:  30%; */
}
.about-box{
    margin-top: 20px;
    margin-bottom: 5%;

}
.section-partners{
    background-color: #F1F5F8;
    width: 100%;
    height: 40%;
}
.btn-partners{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
border: 1px solid #9FBCD1;
box-sizing: border-box;
border-radius: 5px;
}
.partner-logo{
    float:left;
}
  
/*----------------------*/
/* FAQ PAGE
/*----------------------*/
.faq{
    background-image: linear-gradient(180deg, #102533 0%, rgba(9, 42, 64, 0) 100%), url(../js/components/images/about-us-background.jpg);
    height: 100%;
}

/*----------------------*/
/* Contact PAGE
/*----------------------*/
.contact{
    background-image: linear-gradient(180deg, #102533 0%, rgba(9, 42, 64, 0) 100%), url(../js/components/images/about-us-background.jpg);
    height: 100%;
}
/*----------------------*/
/* SIGNUP PAGE
/*----------------------*/
/* .section-signup{
   background: linear-gradient(125.42deg, #4DA4DE 0%, #025388 100%);
}
.signup-logo{
    height: 15%;
    width: 12%;
    margin-top: 8%;
    margin-left: 50%;
}
.signup-box{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}
.signup-box div{
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.signup-text{
    text-align: center;
}
.social-btn-box{
   text-align: center;
}
.btn-google{
    width: 40%;
    height: 45px;
    background: #F6F7FB;
    border: 1px solid #EAEAED;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
}
.googleicon{
    padding-right: 15px;
}
.facebookicon{
    color: #fff;
    padding-right: 15px;
}
.facebookicon-text{
    color: #fff;
}

.btn-facebook{
    width: 40%;
    height: 45px;
    background: #415A94;
    border-radius: 5px;
} */
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  